.custom-shape-divider-bottom-1673045406 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1673045406 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 150px;

  @media (max-width: 768px) {
    height: 100px;
  }
}

.custom-shape-divider-bottom-1673045406 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1673137881 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1673137881 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1673137881 .shape-fill {
  fill: #ffffff;
  /* color: rgb(150, 150, 150); */
}
